@CHARSET "UTF-8";

/* Do not add any layout styles here, they will be overridden with layout.css*/

/* --------------------------------------- Gobal style -------------------------------------- */

body{
  background: #ffffff;
  color: #888888;
  font: 12px "arial";
}

a{
  color: #dd6600;
  text-decoration: none;
}
a:hover{
  color: #ff8800;
  text-decoration: none;
}

input{
  background: #ffffff;
  border-width: 1px;
  color: #555555;
}

div.sideColumn h2{
  font-size: 16px;
}

/* ----------------------------------------- Header ----------------------------------------- */

div#pageHeader{
  background: url('images/header_back.png') repeat-x left 80px;
}

div#shortcuts{
  text-align: right;
}

/* -------------------------------------- Side Columns -------------------------------------- */

div.sideColumn ul li{
  border: 1px #dad9d7; border-style: none none solid none;
  line-height: 15px;
  list-style-image: none; list-style-type: none;
  margin: 0px; padding: 1px 0px 1px 0px;
}
div.sideColumn ul li.expanded{
  background: url('images/up.png') no-repeat;
}
div.sideColumn ul li.collapsed{ 
  background: url('images/down.png') no-repeat;
}
div#leftColumn ul li{ background-position: right 2px;}
div#rightColumn ul li{ background-position: left 2px;}

div.sideColumn ul li a{
  display: block;
}

div#leftColumn{
  text-align: left;
}
div#rightColumn{
  text-align: right;
}

div#leftColumn a{
  text-align: left;
}
div#rightColumn a{
  text-align: right;
}

h2.collapsiblock{
  background-image: url('images/up.png');
}
h2.collapsiblockCollapsed{
  background-image: url('images/down.png');
}
div#rightColumn h2.collapsiblock{ background-position: right 4px; padding-right: 14px;}
div#leftColumn h2.collapsiblock{ background-position: left 4px; padding-right: 14px;}

/* ------------------------------------- Content Column ------------------------------------- */

div#tabs{
  margin: 0px; padding: 0px;
}

span.popupContent span.popupContent-body{
  border: 1px solid #aaaaaa;
  background: #ffffff;
  top: 12px;
  left: -1px;
  width: 300px;
}

/* ----------------------------------------- Footer ----------------------------------------- */

div#pageFooter{
}
