@CHARSET "UTF-8";

/* This file should contain ONLY page layout related css */

/* ----------------------------------------- Global */

body{
  margin: 0px; padding: 0px;
}

div.body{
  padding: 5px;
}

/* ----------------------------------------- Header */

div#pageHeader{
  clear: both;
  height: 100px;
}

div#logo{
  position: absolute;
}

div#shortcuts{
  padding-top: 80px;
}

div#shortcuts ul{
  margin: 0px; padding: 0px;
}

div#shortcuts ul li{
  display: inline;
  list-style-type: none;
  margin: 0px; padding: 0px 10px 0px 10px;
}

/* ----------------------------------------- Page */

div#page{
  margin: 0px 50px 0px 50px;
}

div#pageBody{
  padding: 10px 0px 0px 0px;
}

/* ----------------------------------------- Columns */

div#leftColumn{
  float: left;
}
div#rightColumn{
  float: right;
}
div.sideColumn{
  padding-top: 10px;
  width: 200px;
}

body.leftColumn div#contentColumn{
  margin-left: 200px;
}
body.rightColumn div#contentColumn{
  margin-right: 200px;
}

div.sideColumn ul{
  margin: 0px; padding: 5px 0px 30px 0px;
}
div#leftColumn ul ul{ margin-left: 10px;}
div#rightColumn ul ul{ margin-right: 10px;}

div.sideColumn label{
  padding-right: 10px;
}

/* ----------------------------------------- Footer */

div#pageFooter{
  clear: both;
}

/* ----------------------------------------- System Fixes */

div#contentColumn .profile, div#contentColumn .node-form div#contentColumn .standard, div#contentColumn .clear-block {
  clear: none;
  float: left;
}